@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// border: 1px solid grey;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
	max-width: 100%;
	height: 100%;
}

// variables
@main-font: 'Sen', sans-serif;
// @main-color: rgb(102, 51, 153);
@main-color: #4169E1;
// @main-color: #191970;
@border-round: 6rem;

// header
header {
	display: flex;
	justify-content: center;

	// nav bar
	nav {
		display: flex;
		justify-content: space-between;
		font-family: @main-font;
		width: 80%;
		padding: 1% 1%;
		border-bottom: 2px solid black;

		// links in nav bar
		a {
			text-decoration: none;
			color: black;
			font-size: 3rem;
			text-align: center;
			background-color: @main-color;
			width: 12%;
			padding: 1% 1%;
			border: 2px solid black;
			border-radius: 1.8rem;
		} // a tags closing bracket
	} // nav bar closing bracket
} // header closing bracket

// top-container
.top-container {
	display: flex;
	justify-content: center;
	padding-top: 1%;

	// top-content
	.top-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-family: @main-font;
		// background-color: rgb(211, 211, 211, 0.3);
		background-color: @main-color;
		border-radius: @border-round;
		width: 80%;

		// h1 Justin Lohner
		h1 {
			// align-self: center;
			font-size: 14rem;
			text-align: center;
			padding: 5% 4% 4% 4%;
		} // h1 closing bracket

		// intro
		.intro {
			display: flex;
			align-items: center;
			padding: 0% 1% 1% 1%;

			// image link
			.image {
				width: 60%;
				padding: 1%;
			} // image link closing bracket

			// actual image
			img {
				width: 100%;
				height: auto;
				border-radius: @border-round;
			} // img closing bracket

			// intro paragraph
			p {
				font-size: 5rem;
				width: 100%;
				padding: 2%;
				text-align: center;
				line-height: 1.7;
			} // intro paragraph closing bracket
		} // intro closing bracket
	} // top content closing bracket
} // top container closing bracket

// middle container
.middle-container {
	display: flex;
	justify-content: center;

	// middle content
	.middle-content {
		display: flex;
		font-family: @main-font;
		font-size: 3rem;
		width: 80%;
		padding-top: 1%;

		// skills section
		.skills {
			border-right: 2px solid @main-color;
		} // skills section closing bracket

		// work section
		.work {
			border-left: 2px solid @main-color;
		} // work section closing bracket

		// middle content h2
		h2 {
			font-size: 5rem;
			border-bottom: 4px solid @main-color;
			margin-bottom: 2rem;
		} // h2 closing bracket

		// middle content div
		div {
			padding: 0% 2% 2% 2%;
		} // middle content div closing bracket

		// middle content p
		p {
		} // middle content p closing bracket
	} // middle content closing bracket
} // middle container closing bracket

// footer
footer {
	
}
